In [49]:
import pandas as pd 
import re

df = pd.read_csv("./data/RGeo_Hotel_Reviews.csv", index_col=0)

In [50]:
#review negative and postitive reviews in separate dataframe
df_negative_review = df.Negative_Review
df_positive_review = df.Positive_Review

In [52]:
df_negative_review[0]

' I am so angry that i made this post available via all possible sites i use when planing my trips so no one will make the mistake of booking this place I made my booking via booking com We stayed for 6 nights in this hotel from 11 to 17 July Upon arrival we were placed in a small room on the 2nd floor of the hotel It turned out that this was not the room we booked I had specially reserved the 2 level duplex room so that we would have a big windows and high ceilings The room itself was ok if you don t mind the broken window that can not be closed hello rain and a mini fridge that contained some sort of a bio weapon at least i guessed so by the smell of it I intimately asked to change the room and after explaining 2 times that i booked a duplex btw it costs the same as a simple double but got way more volume due to the high ceiling was offered a room but only the next day SO i had to check out the next day before 11 o clock in order to get the room i waned to Not the best way to begin your holiday So we had to wait till 13 00 in order to check in my new room what a wonderful waist of my time The room 023 i got was just as i wanted to peaceful internal garden view big window We were tired from waiting the room so we placed our belongings and rushed to the city In the evening it turned out that there was a constant noise in the room i guess it was made by vibrating vent tubes or something it was constant and annoying as hell AND it did not stop even at 2 am making it hard to fall asleep for me and my wife I have an audio recording that i can not attach here but if you want i can send it via e mail The next day the technician came but was not able to determine the cause of the disturbing sound so i was offered to change the room once again the hotel was fully booked and they had only 1 room left the one that was smaller but seems newer '

## Split by statement

### Split by upper case 
 - need to handle word such as 'I', "John" "Hotel", random uppercase word

In [48]:
df_negative_review.apply(lambda x: [x] if len(re.findall('[A-Z][^A-Z]*', x)) == 0 else re.findall('[A-Z][^A-Z]*', x))

0         [I am so angry that i made this post available...
1                                           [No , Negative]
2         [Rooms are nice but for elderly a bit difficul...
3         [My room was dirty and , I was afraid to walk ...
4         [You , When , I booked with your company on li...
                                ...
512465    [ no trolly or staff to help you take the lugg...
512466           [The hotel looks like 3 but surely not 4 ]
512467    [The ac was useless , It was a hot week in vie...
512468                                      [No , Negative]
512469    [I was in 3rd floor , It didn t work , Free , ...
Name: Negative_Review, Length: 512470, dtype: object

## Convert to lower and check if its alpha word

In [4]:
#change all negative reviews into lowercase and only words are kept
neg_review_lower = [[word.lower() for word in neg_review.split()] for neg_review in df_negative_review]
neg_review_alpha = [[word for word in sentence if re.search('^[a-z]+$', word)] for sentence in neg_review_lower]

In [5]:
#change all positive reviews into lowercase and only words are kept
pos_review_lower = [[word.lower() for word in pos_review.split()] for pos_review in df_positive_review]
pos_review_alpha = [[word for word in sentence if re.search('^[a-z]+$', word)] for sentence in pos_review_lower]

In [6]:
#merging updated words back to a sentence
df['cleaned_pos_reviews'] = [' '.join(sentence) for sentence in pos_review_alpha]
df['cleaned_neg_reviews'] = [' '.join(sentence) for sentence in neg_review_alpha]

In [7]:
df

,Additional_Number_of_Scoring,Average_Score,Hotel_Address,Hotel_Name,Negative_Review,Positive_Review,Review_Date,Review_Total_Negative_Word_Counts,Review_Total_Positive_Word_Counts,Reviewer_Nationality,...,Tags,Total_Number_of_Reviews,Total_Number_of_Reviews_Reviewer_Has_Given,city,country,days_since_review,lat,lng,cleaned_pos_reviews,cleaned_neg_reviews
0,194,7.7,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,Hotel Arena,I am so angry that i made this post available...,Only the park outside of the hotel was beauti...,8/3/2017,397,11,Russia,...,"[' Leisure trip ', ' Couple ', ' Duplex Double...",1403,7,Amsterdam,Netherlands,0 days,52.360576,4.915968,only the park outside of the hotel was beautiful,i am so angry that i made this post available ...
1,194,7.7,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,Hotel Arena,No Negative,No real complaints the hotel was great great ...,8/3/2017,0,105,Ireland,...,"[' Leisure trip ', ' Couple ', ' Duplex Double...",1403,7,Amsterdam,Netherlands,0 days,52.360576,4.915968,no real complaints the hotel was great great l...,no negative
2,194,7.7,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,Hotel Arena,Rooms are nice but for elderly a bit difficul...,Location was good and staff were ok It is cut...,7/31/2017,42,21,Australia,...,"[' Leisure trip ', ' Family with young childre...",1403,9,Amsterdam,Netherlands,3 days,52.360576,4.915968,location was good and staff were ok it is cute...,rooms are nice but for elderly a bit difficult...
3,194,7.7,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,Hotel Arena,My room was dirty and I was afraid to walk ba...,Great location in nice surroundings the bar a...,7/31/2017,210,26,United Kingdom,...,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",1403,1,Amsterdam,Netherlands,3 days,52.360576,4.915968,great location in nice surroundings the bar an...,my room was dirty and i was afraid to walk bar...
4,194,7.7,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,Hotel Arena,You When I booked with your company on line y...,Amazing location and building Romantic setting,7/24/2017,140,8,New Zealand,...,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",1403,3,Amsterdam,Netherlands,10 days,52.360576,4.915968,amazing location and building romantic setting,you when i booked with your company on line yo...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512465,168,8.1,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,Atlantis Hotel Vienna,no trolly or staff to help you take the lugga...,location,8/30/2015,14,2,Kuwait,...,"[' Leisure trip ', ' Family with older childre...",2823,8,Vienna,Austria,704 day,48.203745,16.335677,location,no trolly or staff to help you take the luggag...
512466,168,8.1,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,Atlantis Hotel Vienna,The hotel looks like 3 but surely not 4,Breakfast was ok and we got earlier check in,8/22/2015,11,11,Estonia,...,"[' Leisure trip ', ' Family with young childre...",2823,12,Vienna,Austria,712 day,48.203745,16.335677,breakfast was ok and we got earlier check in,the hotel looks like but surely not
512467,168,8.1,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,Atlantis Hotel Vienna,The ac was useless It was a hot week in vienn...,No Positive,8/19/2015,19,0,Egypt,...,"[' Leisure trip ', ' Family with older childre...",2823,3,Vienna,Austria,715 day,48.203745,16.335677,no positive,the ac was useless it was a hot week in vienna...
512468,168,8.1,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,Atlantis Hotel Vienna,No Negative,The rooms are enormous and really comfortable...,8/17/2015,0,25,Mexico,...,"[' Leisure trip ', ' Group ', ' Standard Tripl...",2823,3,Vienna,Austria,717 day,48.203745,16.335677,the rooms are enormous and really comfortable ...,no negative
512469,168,8.1,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,Atlantis Hotel Vienna,I was in 3rd floor It didn t work Free Wife,staff was very kind,8/9/2015,13,6,Hungary,...,"[' Leisure trip ', ' Family with young childre...",2823,1,Vienna,Austria,725 day,48.203745,16.335677,staff was very kind,i was in floor it didn t work free wife

In [8]:
df[df=='none'].count()

/Users/yuankanglee/opt/anaconda3/lib/python3.7/site-packages/pandas/core/ops/__init__.py:1115: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

Additional_Number_of_Scoring                     0
Average_Score                                    0
Hotel_Address                                    0
Hotel_Name                                       0
Negative_Review                                  0
Positive_Review                                  0
Review_Date                                      0
Review_Total_Negative_Word_Counts                0
Review_Total_Positive_Word_Counts                0
Reviewer_Nationality                             0
Reviewer_Score                                   0
Tags                                             0
Total_Number_of_Reviews                          0
Total_Number_of_Reviews_Reviewer_Has_Given       0
city                                             0
country                                          0
days_since_review                                0
lat                                              0
lng                                              0
cleaned_pos_reviews                             39
cleaned_neg_reviews                           1491
dtype: int64

In [9]:
df[df=='no issues'].count()

Additional_Number_of_Scoring                   0
Average_Score                                  0
Hotel_Address                                  0
Hotel_Name                                     0
Negative_Review                                0
Positive_Review                                0
Review_Date                                    0
Review_Total_Negative_Word_Counts              0
Review_Total_Positive_Word_Counts              0
Reviewer_Nationality                           0
Reviewer_Score                                 0
Tags                                           0
Total_Number_of_Reviews                        0
Total_Number_of_Reviews_Reviewer_Has_Given     0
city                                           0
country                                        0
days_since_review                              0
lat                                            0
lng                                            0
cleaned_pos_reviews                            1
cleaned_neg_reviews                           64
dtype: int64

# Checking reviews that are not needed (e.g. no negative, no positive etc)

In [10]:
df[df=='no complaints'].count()

Additional_Number_of_Scoring                    0
Average_Score                                   0
Hotel_Address                                   0
Hotel_Name                                      0
Negative_Review                                 0
Positive_Review                                 0
Review_Date                                     0
Review_Total_Negative_Word_Counts               0
Review_Total_Positive_Word_Counts               0
Reviewer_Nationality                            0
Reviewer_Score                                  0
Tags                                            0
Total_Number_of_Reviews                         0
Total_Number_of_Reviews_Reviewer_Has_Given      0
city                                            0
country                                         0
days_since_review                               0
lat                                             0
lng                                             0
cleaned_pos_reviews                             8
cleaned_neg_reviews                           522
dtype: int64

In [11]:
df[df=='nothing'].count()

Additional_Number_of_Scoring                      0
Average_Score                                     0
Hotel_Address                                     0
Hotel_Name                                        0
Negative_Review                                   0
Positive_Review                                   0
Review_Date                                       0
Review_Total_Negative_Word_Counts                 0
Review_Total_Positive_Word_Counts                 0
Reviewer_Nationality                              0
Reviewer_Score                                    0
Tags                                              0
Total_Number_of_Reviews                           0
Total_Number_of_Reviews_Reviewer_Has_Given        0
city                                              0
country                                           0
days_since_review                                 0
lat                                               0
lng                                               0
cleaned_pos_reviews                            1719
cleaned_neg_reviews                           21083
dtype: int64

In [12]:
df[df=='no negative'].count()

Additional_Number_of_Scoring                       0
Average_Score                                      0
Hotel_Address                                      0
Hotel_Name                                         0
Negative_Review                                    0
Positive_Review                                    0
Review_Date                                        0
Review_Total_Negative_Word_Counts                  0
Review_Total_Positive_Word_Counts                  0
Reviewer_Nationality                               0
Reviewer_Score                                     0
Tags                                               0
Total_Number_of_Reviews                            0
Total_Number_of_Reviews_Reviewer_Has_Given         0
city                                               0
country                                            0
days_since_review                                  0
lat                                                0
lng                                                0
cleaned_pos_reviews                                0
cleaned_neg_reviews                           127035
dtype: int64

In [13]:
df[df=='no positive'].count()

Additional_Number_of_Scoring                      0
Average_Score                                     0
Hotel_Address                                     0
Hotel_Name                                        0
Negative_Review                                   0
Positive_Review                                   0
Review_Date                                       0
Review_Total_Negative_Word_Counts                 0
Review_Total_Positive_Word_Counts                 0
Reviewer_Nationality                              0
Reviewer_Score                                    0
Tags                                              0
Total_Number_of_Reviews                           0
Total_Number_of_Reviews_Reviewer_Has_Given        0
city                                              0
country                                           0
days_since_review                                 0
lat                                               0
lng                                               0
cleaned_pos_reviews                           35737
cleaned_neg_reviews                               0
dtype: int64

In [14]:
df[df=='na'].count()

Additional_Number_of_Scoring                    0
Average_Score                                   0
Hotel_Address                                   0
Hotel_Name                                      0
Negative_Review                                 0
Positive_Review                                 0
Review_Date                                     0
Review_Total_Negative_Word_Counts               0
Review_Total_Positive_Word_Counts               0
Reviewer_Nationality                            0
Reviewer_Score                                  0
Tags                                            0
Total_Number_of_Reviews                         0
Total_Number_of_Reviews_Reviewer_Has_Given      0
city                                            0
country                                         0
days_since_review                               0
lat                                             0
lng                                             0
cleaned_pos_reviews                            19
cleaned_neg_reviews                           272
dtype: int64

In [15]:
df[df=='n a'].count()

Additional_Number_of_Scoring                     0
Average_Score                                    0
Hotel_Address                                    0
Hotel_Name                                       0
Negative_Review                                  0
Positive_Review                                  0
Review_Date                                      0
Review_Total_Negative_Word_Counts                0
Review_Total_Positive_Word_Counts                0
Reviewer_Nationality                             0
Reviewer_Score                                   0
Tags                                             0
Total_Number_of_Reviews                          0
Total_Number_of_Reviews_Reviewer_Has_Given       0
city                                             0
country                                          0
days_since_review                                0
lat                                              0
lng                                              0
cleaned_pos_reviews                             55
cleaned_neg_reviews                           1804
dtype: int64

In [16]:
df[df==''].count()

Additional_Number_of_Scoring                    0
Average_Score                                   0
Hotel_Address                                   0
Hotel_Name                                      0
Negative_Review                                 0
Positive_Review                                 0
Review_Date                                     0
Review_Total_Negative_Word_Counts               0
Review_Total_Positive_Word_Counts               0
Reviewer_Nationality                            0
Reviewer_Score                                  0
Tags                                            0
Total_Number_of_Reviews                         0
Total_Number_of_Reviews_Reviewer_Has_Given      0
city                                            0
country                                         0
days_since_review                               0
lat                                             0
lng                                             0
cleaned_pos_reviews                           200
cleaned_neg_reviews                           844
dtype: int64

In [17]:
df.count()

Additional_Number_of_Scoring                  512470
Average_Score                                 512470
Hotel_Address                                 512470
Hotel_Name                                    512470
Negative_Review                               512470
Positive_Review                               512470
Review_Date                                   512470
Review_Total_Negative_Word_Counts             512470
Review_Total_Positive_Word_Counts             512470
Reviewer_Nationality                          512470
Reviewer_Score                                512470
Tags                                          512470
Total_Number_of_Reviews                       512470
Total_Number_of_Reviews_Reviewer_Has_Given    512470
city                                          512470
country                                       512470
days_since_review                             512470
lat                                           512470
lng                                           512470
cleaned_pos_reviews                           512470
cleaned_neg_reviews                           512470
dtype: int64

# Replace unwanted comments into '0'

In [18]:
# replace all the ['no negative', 'no positive','n a','na','no issue','no complaints','none','nothing'] with NaN
cleaned_df=df.replace(to_replace=['no negative', 'no positive',
                                  'n a','na','no issue','no complaints',
                                  'none','nothing',''], value=0)

In [19]:
cleaned_df

,Additional_Number_of_Scoring,Average_Score,Hotel_Address,Hotel_Name,Negative_Review,Positive_Review,Review_Date,Review_Total_Negative_Word_Counts,Review_Total_Positive_Word_Counts,Reviewer_Nationality,...,Tags,Total_Number_of_Reviews,Total_Number_of_Reviews_Reviewer_Has_Given,city,country,days_since_review,lat,lng,cleaned_pos_reviews,cleaned_neg_reviews
0,194,7.7,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,Hotel Arena,I am so angry that i made this post available...,Only the park outside of the hotel was beauti...,8/3/2017,397,11,Russia,...,"[' Leisure trip ', ' Couple ', ' Duplex Double...",1403,7,Amsterdam,Netherlands,0 days,52.360576,4.915968,only the park outside of the hotel was beautiful,i am so angry that i made this post available ...
1,194,7.7,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,Hotel Arena,No Negative,No real complaints the hotel was great great ...,8/3/2017,0,105,Ireland,...,"[' Leisure trip ', ' Couple ', ' Duplex Double...",1403,7,Amsterdam,Netherlands,0 days,52.360576,4.915968,no real complaints the hotel was great great l...,0
2,194,7.7,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,Hotel Arena,Rooms are nice but for elderly a bit difficul...,Location was good and staff were ok It is cut...,7/31/2017,42,21,Australia,...,"[' Leisure trip ', ' Family with young childre...",1403,9,Amsterdam,Netherlands,3 days,52.360576,4.915968,location was good and staff were ok it is cute...,rooms are nice but for elderly a bit difficult...
3,194,7.7,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,Hotel Arena,My room was dirty and I was afraid to walk ba...,Great location in nice surroundings the bar a...,7/31/2017,210,26,United Kingdom,...,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",1403,1,Amsterdam,Netherlands,3 days,52.360576,4.915968,great location in nice surroundings the bar an...,my room was dirty and i was afraid to walk bar...
4,194,7.7,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,Hotel Arena,You When I booked with your company on line y...,Amazing location and building Romantic setting,7/24/2017,140,8,New Zealand,...,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",1403,3,Amsterdam,Netherlands,10 days,52.360576,4.915968,amazing location and building romantic setting,you when i booked with your company on line yo...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512465,168,8.1,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,Atlantis Hotel Vienna,no trolly or staff to help you take the lugga...,location,8/30/2015,14,2,Kuwait,...,"[' Leisure trip ', ' Family with older childre...",2823,8,Vienna,Austria,704 day,48.203745,16.335677,location,no trolly or staff to help you take the luggag...
512466,168,8.1,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,Atlantis Hotel Vienna,The hotel looks like 3 but surely not 4,Breakfast was ok and we got earlier check in,8/22/2015,11,11,Estonia,...,"[' Leisure trip ', ' Family with young childre...",2823,12,Vienna,Austria,712 day,48.203745,16.335677,breakfast was ok and we got earlier check in,the hotel looks like but surely not
512467,168,8.1,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,Atlantis Hotel Vienna,The ac was useless It was a hot week in vienn...,No Positive,8/19/2015,19,0,Egypt,...,"[' Leisure trip ', ' Family with older childre...",2823,3,Vienna,Austria,715 day,48.203745,16.335677,0,the ac was useless it was a hot week in vienna...
512468,168,8.1,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,Atlantis Hotel Vienna,No Negative,The rooms are enormous and really comfortable...,8/17/2015,0,25,Mexico,...,"[' Leisure trip ', ' Group ', ' Standard Tripl...",2823,3,Vienna,Austria,717 day,48.203745,16.335677,the rooms are enormous and really comfortable ...,0
512469,168,8.1,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,Atlantis Hotel Vienna,I was in 3rd floor It didn t work Free Wife,staff was very kind,8/9/2015,13,6,Hungary,...,"[' Leisure trip ', ' Family with young childre...",2823,1,Vienna,Austria,725 day,48.203745,16.335677,staff was very kind,i was in floor it didn t work free wife

# Pull only positive reviews and add Class (positive)

In [38]:
pos_comments= cleaned_df.cleaned_pos_reviews[cleaned_df.cleaned_pos_reviews!=0]
reviews=pd.DataFrame(pos_comments)
reviews['class']='positive'
reviews['city'] = df['city']
reviews['country'] = df['country']
reviews.columns = ['reviews', 'class', 'city', 'country']
reviews

,reviews,class,city,country
0,only the park outside of the hotel was beautiful,positive,Amsterdam,Netherlands
1,no real complaints the hotel was great great l...,positive,Amsterdam,Netherlands
2,location was good and staff were ok it is cute...,positive,Amsterdam,Netherlands
3,great location in nice surroundings the bar an...,positive,Amsterdam,Netherlands
4,amazing location and building romantic setting,positive,Amsterdam,Netherlands
...,...,...,...,...
512464,helpful staff allowed me to check in early as ...,positive,Vienna,Austria
512465,location,positive,Vienna,Austria
512466,breakfast was ok and we got earlier check in,positive,Vienna,Austria
512468,the rooms are enormous and really comfortable ...,positive,Vienna,Austria
512469,staff was very kind,positive,Vienna,Austria

# Pull only negative reviews and add Class (negative)

In [21]:
neg_comments= cleaned_df.cleaned_neg_reviews[cleaned_df.cleaned_neg_reviews!=0]
neg_reviews= pd.DataFrame(neg_comments)
neg_reviews['class']= 'negative'
neg_reviews.columns = ['reviews','class']
neg_reviews

                                                  reviews     class
0       i am so angry that i made this post available ...  negative
2       rooms are nice but for elderly a bit difficult...  negative
3       my room was dirty and i was afraid to walk bar...  negative
4       you when i booked with your company on line yo...  negative
5       backyard of the hotel is total mess shouldn t ...  negative
...                                                   ...       ...
512463   no parking public parking garage is euro per day  negative
512465  no trolly or staff to help you take the luggag...  negative
512466                the hotel looks like but surely not  negative
512467  the ac was useless it was a hot week in vienna...  negative
512469            i was in floor it didn t work free wife  negative

[359418 rows x 2 columns]

# Merge both negative and positive and create output file

In [22]:
merge_pos_neg= pd.concat([neg_reviews, reviews])

# Split the reviews into sentence level

In [31]:
merge_pos_neg['reviews'] = merge_pos_neg['reviews'].apply(lambda x: x.split('.'))

In [35]:
merge_pos_neg['reviews']

0         [i am so angry that i made this post available...
2         [rooms are nice but for elderly a bit difficul...
3         [my room was dirty and i was afraid to walk ba...
4         [you when i booked with your company on line y...
5         [backyard of the hotel is total mess shouldn t...
                                ...
512464    [helpful staff allowed me to check in early as...
512465                                           [location]
512466       [breakfast was ok and we got earlier check in]
512468    [the rooms are enormous and really comfortable...
512469                                [staff was very kind]
Name: reviews, Length: 834111, dtype: object

# Export to csv

In [24]:
merge_pos_neg.to_csv('./data/cleaned_hotelreviews.csv', index=False)

## Splitting into sentence using nnsplit

In [5]:
from nnsplit import NNSplit

splitter = NNSplit("en")
sent = splitter.split(["I am so angry that i made this post available via all possible sites i use when planing my trips so no one will make the mistake of booking this place I made my booking via booking com We stayed for 6 nights in this hotel from 11 to 17 July Upon arrival we were placed in a small room on the 2nd floor of the hotel It turned out that this was not the room we booked I had specially reserved the 2 level duplex room so that we would have a big windows and high ceilings The room itself was ok if you don t mind the broken window that can not be closed hello rain and a mini fridge that contained some sort of a bio weapon at least i guessed so by the smell of it I intimately asked to change the room and after explaining 2 times that i booked a duplex btw it costs the same as a simple double but got way more volume due to the high ceiling was offered a room but only the next day SO i had to check out the next day before 11 o clock in order to get the room i waned to Not the best way to begin your holiday So we had to wait till 13 00 in order to check in my new room what a wonderful waist of my time The room 023 i got was just as i wanted to peaceful internal garden view big window We were tired from waiting the room so we placed our belongings and rushed to the city In the evening it turned out that there was a constant noise in the room i guess it was made by vibrating vent tubes or something it was constant and annoying as hell AND it did not stop even at 2 am making it hard to fall asleep for me and my wife I have an audio recording that i can not attach here but if you want i can send it via e mail The next day the technician came but was not able to determine the cause of the disturbing sound so i was offered to change the room once again the hotel was fully booked and they had only 1 room left the one that was smaller but seems newer "])

In [6]:
sent

[[[Token(text='I', whitespace=' '),
   Token(text='am', whitespace=' '),
   Token(text='so', whitespace=' '),
   Token(text='angry', whitespace=' '),
   Token(text='that', whitespace=' '),
   Token(text='i', whitespace=' '),
   Token(text='made', whitespace=' '),
   Token(text='this', whitespace=' '),
   Token(text='post', whitespace=' '),
   Token(text='available', whitespace=' '),
   Token(text='via', whitespace=' '),
   Token(text='all', whitespace=' '),
   Token(text='possible', whitespace=' '),
   Token(text='sites', whitespace=' ')],
  [Token(text='i', whitespace=' '),
   Token(text='use', whitespace=' '),
   Token(text='when', whitespace=' '),
   Token(text='planing', whitespace=' '),
   Token(text='my', whitespace=' '),
   Token(text='trips', whitespace=' ')],
  [Token(text='so', whitespace=' '),
   Token(text='no', whitespace=' '),
   Token(text='one', whitespace=' '),
   Token(text='will', whitespace=' '),
   Token(text='make', whitespace=' '),
   Token(text='the', whitespace=' '),
   Token(text='mistake', whitespace=' '),
   Token(text='of', whitespace=' '),
   Token(text='booking', whitespace=' '),
   Token(text='this', whitespace=' '),
   Token(text='place', whitespace=' ')],
  [Token(text='I', whitespace=' '),
   Token(text='made', whitespace=' '),
   Token(text='my', whitespace=' '),
   Token(text='booking', whitespace=' '),
   Token(text='via', whitespace=' '),
   Token(text='booking', whitespace=' ')],
  [Token(text='com', whitespace=' ')],
  [Token(text='We', whitespace=' '),
   Token(text='stayed', whitespace=' '),
   Token(text='for', whitespace=' '),
   Token(text='6', whitespace=' '),
   Token(text='nights', whitespace=' '),
   Token(text='in', whitespace=' '),
   Token(text='this', whitespace=' '),
   Token(text='hotel', whitespace=' '),
   Token(text='from', whitespace=' '),
   Token(text='11', whitespace=' '),
   Token(text='to', whitespace=' '),
   Token(text='17', whitespace=' '),
   Token(text='July', whitespace=' ')],
  [Token(text='Upon', whitespace=' '),
   Token(text='arrival', whitespace=' '),
   Token(text='we', whitespace=' '),
   Token(text='were', whitespace=' '),
   Token(text='placed', whitespace=' '),
   Token(text='in', whitespace=' '),
   Token(text='a', whitespace=' '),
   Token(text='small', whitespace=' '),
   Token(text='room', whitespace=' '),
   Token(text='on', whitespace=' '),
   Token(text='the', whitespace=' '),
   Token(text='2nd', whitespace=' '),
   Token(text='floor', whitespace=' '),
   Token(text='of', whitespace=' '),
   Token(text='the', whitespace=' '),
   Token(text='hotel', whitespace=' ')],
  [Token(text='It', whitespace=' '),
   Token(text='turned', whitespace=' '),
   Token(text='out', whitespace=' '),
   Token(text='that', whitespace=' '),
   Token(text='this', whitespace=' '),
   Token(text='was', whitespace=' '),
   Token(text='not', whitespace=' '),
   Token(text='the', whitespace=' '),
   Token(text='room', whitespace=' '),
   Token(text='we', whitespace=' '),
   Token(text='booked', whitespace=' ')],
  [Token(text='I', whitespace=' '),
   Token(text='had', whitespace=' '),
   Token(text='specially', whitespace=' '),
   Token(text='reserved', whitespace=' '),
   Token(text='the', whitespace=' '),
   Token(text='2', whitespace=' '),
   Token(text='level', whitespace=' '),
   Token(text='duplex', whitespace=' '),
   Token(text='room', whitespace=' '),
   Token(text='so', whitespace=' '),
   Token(text='that', whitespace=' '),
   Token(text='we', whitespace=' '),
   Token(text='would', whitespace=' '),
   Token(text='have', whitespace=' '),
   Token(text='a', whitespace=' '),
   Token(text='big', whitespace=' '),
   Token(text='windows', whitespace=' '),
   Token(text='and', whitespace=' '),
   Token(text='high', whitespace=' '),
   Token(text='ceilings', whitespace=' ')],
  [Token(text='The', whitespace=' '),
   Token(text='room', whitespace=' '),
   Token(text='itself', whitespace=' '),
   Token(text='was', whitespace=' '),
   Token(text='ok', whitespace=' '),
   Token(text='if', whitespace=' '),
   Token(text='you', whitespace=' '),
   Token(text='don', whitespace=' '),
   Token(text='t', whitespace=' '),
   Token(text='mind', whitespace=' '),
   Token(text='the', whitespace=' '),
   Token(text='broken', whitespace=' '),
   Token(text='window', whitespace=' '),
   Token(text='that', whitespace=' '),
   Token(text='can', whitespace=' '),
   Token(text='not', whitespace=' '),
   Token(text='be', whitespace=' '),
   Token(text='closed', whitespace=' ')],
  [Token(text='hello', whitespace=' '),
   Token(text='rain', whitespace=' '),
   Token(text='and', whitespace=' '),
   Token(text='a', whitespace=' '),
   Token(text='mini', whitespace=' '),
   Token(text='fridge', whitespace=' '),
   Token(text='that', whitespace=' '),
   Token(text='contained', whitespace=' '),
   Token(text='some', whitespace=' '),
   Token(text='sort', whitespace=' '),
   Token(text='of', whitespace=' '),
   Token(text='a', whitespace=' '),
   Token(text='bio', whitespace=' '),
   Token(text='weapon', whitespace=' '),
   Token(text='at', whitespace=' '),
   Token(text='least', whitespace=' ')],
  [Token(text='i', whitespace=' '),
   Token(text='guessed', whitespace=' '),
   Token(text='so', whitespace=' '),
   Token(text='by', whitespace=' '),
   Token(text='the', whitespace=' '),
   Token(text='smell', whitespace=' '),
   Token(text='of', whitespace=' '),
   Token(text='it', whitespace=' ')],
  [Token(text='I', whitespace=' '),
   Token(text='intimately', whitespace=' '),
   Token(text='asked', whitespace=' '),
   Token(text='to', whitespace=' '),
   Token(text='change', whitespace=' '),
   Token(text='the', whitespace=' '),
   Token(text='room', whitespace=' '),
   Token(text='and', whitespace=' '),
   Token(text='after', whitespace=' '),
   Token(text='explaining', whitespace=' '),
   Token(text='2', whitespace=' '),
   Token(text='times', whitespace=' '),
   Token(text='that', whitespace=' '),
   Token(text='i', whitespace=' '),
   Token(text='booked', whitespace=' '),
   Token(text='a', whitespace=' '),
   Token(text='duplex', whitespace=' '),
   Token(text='btw', whitespace=' ')],
  [Token(text='it', whitespace=' '),
   Token(text='costs', whitespace=' '),
   Token(text='the', whitespace=' '),
   Token(text='same', whitespace=' '),
   Token(text='as', whitespace=' '),
   Token(text='a', whitespace=' '),
   Token(text='simple', whitespace=' '),
   Token(text='double', whitespace=' '),
   Token(text='but', whitespace=' '),
   Token(text='got', whitespace=' '),
   Token(text='way', whitespace=' ')],
  [Token(text='more', whitespace=' '),
   Token(text='volume', whitespace=' '),
   Token(text='due', whitespace=' '),
   Token(text='to', whitespace=' '),
   Token(text='the', whitespace=' '),
   Token(text='high', whitespace=' '),
   Token(text='ceiling', whitespace=' '),
   Token(text='was', whitespace=' '),
   Token(text='offered', whitespace=' '),
   Token(text='a', whitespace=' '),
   Token(text='room', whitespace=' '),
   Token(text='but', whitespace=' '),
   Token(text='only', whitespace=' '),
   Token(text='the', whitespace=' '),
   Token(text='next', whitespace=' '),
   Token(text='day', whitespace=' '),
   Token(text='SO', whitespace=' ')],
  [Token(text='i', whitespace=' '),
   Token(text='had', whitespace=' '),
   Token(text='to', whitespace=' '),
   Token(text='check', whitespace=' '),
   Token(text='out', whitespace=' '),
   Token(text='the', whitespace=' '),
   Token(text='next', whitespace=' '),
   Token(text='day', whitespace=' '),
   Token(text='before', whitespace=' '),
   Token(text='11', whitespace=' '),
   Token(text='o', whitespace=' '),
   Token(text='clock', whitespace=' '),
   Token(text='in', whitespace=' '),
   Token(text='order', whitespace=' '),
   Token(text='to', whitespace=' '),
   Token(text='get', whitespace=' '),
   Token(text='the', whitespace=' '),
   Token(text='room', whitespace=' ')],
  [Token(text='i', whitespace=' '),
   Token(text='waned', whitespace=' '),
   Token(text='to', whitespace=' ')],
  [Token(text='Not', whitespace=' '),
   Token(text='the', whitespace=' '),
   Token(text='best', whitespace=' '),
   Token(text='way', whitespace=' '),
   Token(text='to', whitespace=' '),
   Token(text='begin', whitespace=' '),
   Token(text='your', whitespace=' '),
   Token(text='holiday', whitespace=' ')],
  [Token(text='So', whitespace=' '),
   Token(text='we', whitespace=' '),
   Token(text='had', whitespace=' '),
   Token(text='to', whitespace=' '),
   Token(text='wait', whitespace=' '),
   Token(text='till', whitespace=' '),
   Token(text='13', whitespace=' '),
   Token(text='00', whitespace=' '),
   Token(text='in', whitespace=' '),
   Token(text='order', whitespace=' '),
   Token(text='to', whitespace=' '),
   Token(text='check', whitespace=' '),
   Token(text='in', whitespace=' '),
   Token(text='my', whitespace=' '),
   Token(text='new', whitespace=' '),
   Token(text='room', whitespace=' '),
   Token(text='what', whitespace=' '),
   Token(text='a', whitespace=' '),
   Token(text='wonderful', whitespace=' '),
   Token(text='waist', whitespace=' '),
   Token(text='of', whitespace=' '),
   Token(text='my', whitespace=' '),
   Token(text='time', whitespace=' ')],
  [Token(text='The', whitespace=' '),
   Token(text='room', whitespace=' '),
   Token(text='023', whitespace=' ')],
  [Token(text='i', whitespace=' '),
   Token(text='got', whitespace=' '),
   Token(text='was', whitespace=' '),
   Token(text='just', whitespace=' '),
   Token(text='as', whitespace=' ')],
  [Token(text='i', whitespace=' '),
   Token(text='wanted', whitespace=' '),
   Token(text='to', whitespace=' '),
   Token(text='peaceful', whitespace=' '),
   Token(text='internal', whitespace=' '),
   Token(text='garden', whitespace=' '),
   Token(text='view', whitespace=' '),
   Token(text='big', whitespace=' '),
   Token(text='window', whitespace=' ')],
  [Token(text='We', whitespace=' '),
   Token(text='were', whitespace=' '),
   Token(text='tired', whitespace=' '),
   Token(text='from', whitespace=' '),
   Token(text='waiting', whitespace=' '),
   Token(text='the', whitespace=' '),
   Token(text='room', whitespace=' '),
   Token(text='so', whitespace=' '),
   Token(text='we', whitespace=' '),
   Token(text='placed', whitespace=' '),
   Token(text='our', whitespace=' '),
   Token(text='belongings', whitespace=' '),
   Token(text='and', whitespace=' '),
   Token(text='rushed', whitespace=' '),
   Token(text='to', whitespace=' '),
   Token(text='the', whitespace=' '),
   Token(text='city', whitespace=' ')],
  [Token(text='In', whitespace=' '),
   Token(text='the', whitespace=' '),
   Token(text='evening', whitespace=' '),
   Token(text='it', whitespace=' '),
   Token(text='turned', whitespace=' '),
   Token(text='out', whitespace=' '),
   Token(text='that', whitespace=' '),
   Token(text='there', whitespace=' '),
   Token(text='was', whitespace=' '),
   Token(text='a', whitespace=' '),
   Token(text='constant', whitespace=' '),
   Token(text='noise', whitespace=' '),
   Token(text='in', whitespace=' '),
   Token(text='the', whitespace=' '),
   Token(text='room', whitespace=' ')],
  [Token(text='i', whitespace=' '), Token(text='guess', whitespace=' ')],
  [Token(text='it', whitespace=' '),
   Token(text='was', whitespace=' '),
   Token(text='made', whitespace=' '),
   Token(text='by', whitespace=' '),
   Token(text='vibrating', whitespace=' '),
   Token(text='vent', whitespace=' '),
   Token(text='tubes', whitespace=' '),
   Token(text='or', whitespace=' '),
   Token(text='something', whitespace=' '),
   Token(text='it', whitespace=' '),
   Token(text='was', whitespace=' '),
   Token(text='constant', whitespace=' '),
   Token(text='and', whitespace=' '),
   Token(text='annoying', whitespace=' '),
   Token(text='as', whitespace=' '),
   Token(text='hell', whitespace=' '),
   Token(text='AND', whitespace=' ')],
  [Token(text='it', whitespace=' '),
   Token(text='did', whitespace=' '),
   Token(text='not', whitespace=' '),
   Token(text='stop', whitespace=' '),
   Token(text='even', whitespace=' '),
   Token(text='at', whitespace=' '),
   Token(text='2', whitespace=' '),
   Token(text='am', whitespace=' ')],
  [Token(text='making', whitespace=' '),
   Token(text='it', whitespace=' '),
   Token(text='hard', whitespace=' '),
   Token(text='to', whitespace=' '),
   Token(text='fall', whitespace=' ')],
  [Token(text='asleep', whitespace=' '),
   Token(text='for', whitespace=' '),
   Token(text='me', whitespace=' ')],
  [Token(text='and', whitespace=' '),
   Token(text='my', whitespace=' '),
   Token(text='wife', whitespace=' ')],
  [Token(text='I', whitespace=' '),
   Token(text='have', whitespace=' '),
   Token(text='an', whitespace=' '),
   Token(text='audio', whitespace=' '),
   Token(text='recording', whitespace=' '),
   Token(text='that', whitespace=' '),
   Token(text='i', whitespace=' '),
   Token(text='can', whitespace=' '),
   Token(text='not', whitespace=' '),
   Token(text='attach', whitespace=' '),
   Token(text='here', whitespace=' ')],
  [Token(text='but', whitespace=' '),
   Token(text='if', whitespace=' '),
   Token(text='you', whitespace=' '),
   Token(text='want', whitespace=' '),
   Token(text='i', whitespace=' '),
   Token(text='can', whitespace=' '),
   Token(text='send', whitespace=' '),
   Token(text='it', whitespace=' '),
   Token(text='via', whitespace=' '),
   Token(text='e', whitespace=' '),
   Token(text='mail', whitespace=' ')],
  [Token(text='The', whitespace=' '),
   Token(text='next', whitespace=' '),
   Token(text='day', whitespace=' '),
   Token(text='the', whitespace=' '),
   Token(text='technician', whitespace=' '),
   Token(text='came', whitespace=' '),
   Token(text='but', whitespace=' '),
   Token(text='was', whitespace=' '),
   Token(text='not', whitespace=' '),
   Token(text='able', whitespace=' '),
   Token(text='to', whitespace=' '),
   Token(text='determine', whitespace=' '),
   Token(text='the', whitespace=' '),
   Token(text='cause', whitespace=' '),
   Token(text='of', whitespace=' '),
   Token(text='the', whitespace=' '),
   Token(text='disturbing', whitespace=' '),
   Token(text='sound', whitespace=' ')],
  [Token(text='so', whitespace=' '),
   Token(text='i', whitespace=' '),
   Token(text='was', whitespace=' '),
   Token(text='offered', whitespace=' '),
   Token(text='to', whitespace=' '),
   Token(text='change', whitespace=' '),
   Token(text='the', whitespace=' '),
   Token(text='room', whitespace=' ')],
  [Token(text='once', whitespace=' '), Token(text='again', whitespace=' ')],
  [Token(text='the', whitespace=' '),
   Token(text='hotel', whitespace=' '),
   Token(text='was', whitespace=' '),
   Token(text='fully', whitespace=' '),
   Token(text='booked', whitespace=' '),
   Token(text='and', whitespace=' '),
   Token(text='they', whitespace=' '),
   Token(text='had', whitespace=' '),
   Token(text='only', whitespace=' '),
   Token(text='1', whitespace=' ')],
  [Token(text='room', whitespace=' '),
   Token(text='left', whitespace=' '),
   Token(text='the', whitespace=' '),
   Token(text='one', whitespace=' '),
   Token(text='that', whitespace=' '),
   Token(text='was', whitespace=' '),
   Token(text='smaller', whitespace=' '),
   Token(text='but', whitespace=' '),
   Token(text='seems', whitespace=' '),
   Token(text='newer', whitespace=' ')]]]

In [81]:
for i in sent[0]:
    new_string = ''
    for j in i:
        new_string += j.text + " "
    print(new_string)

I am so angry that i made this post available via all possible sites
i use when planing my trips
so no one will make the mistake of booking this place
I made my booking via booking
com
We stayed for 6 nights in this hotel from 11 to 17 July
Upon arrival we were placed in a small room on the 2nd floor of the hotel
It turned out that this was not the room we booked
I had specially reserved the 2 level duplex room so that we would have a big windows and high ceilings
The room itself was ok if you don t mind the broken window that can not be closed
hello rain and a mini fridge that contained some sort of a bio weapon at least
i guessed so by the smell of it
I intimately asked to change the room and after explaining 2 times that i booked a duplex btw
it costs the same as a simple double but got way
more volume due to the high ceiling was offered a room but only the next day SO
i had to check out the next day before 11 o clock in order to get the room
i waned to
Not the best way to begin your holiday
So we had to wait till 13 00 in order to check in my new room what a wonderful waist of my time
The room 023
i got was just as
i wanted to peaceful internal garden view big window
We were tired from waiting the room so we placed our belongings and rushed to the city
In the evening it turned out that there was a constant noise in the room
i guess
it was made by vibrating vent tubes or something it was constant and annoying as hell AND
it did not stop even at 2 am
making it hard to fall
asleep for me
and my wife
I have an audio recording that i can not attach here
but if you want i can send it via e mail
The next day the technician came but was not able to determine the cause of the disturbing sound
so i was offered to change the room
once again
the hotel was fully booked and they had only 1
room left the one that was smaller but seems newer